<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
  </head>
  <link rel="stylesheet" href="../static/css/style_index.css" />
  <body>
    <header>
      <h1>Colección de Componentes</h1>
    </header>
    <div class="contenedor">
      <nav>
        <a href="{{ url_for('login_crypto') }}"> Login Crypto </a>
        <a href="{{ url_for('login_future') }}"> Login Future </a>
        <a href="{{ url_for('login_live') }}"> Login Live</a>
        <a href="{{ url_for('form') }}">Formulario</a>
      </nav>
    </div>
    <div class="subtitulo">
      <h3>Templates creados para mis aplicaciones</h3>
      <p>
        Los botones proporcionan enlaces a las distintas plantillas,
        permitiéndote visualizar los diferentes componentes.
      </p>
    </div>
    <footer class="footer">
      <p>&copy; 2025 Diego Maneyro. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
