<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
  </head>
  <body>
    <header>
      <h1>Coleccion de Componentes</h1>
      <h3>Templates creados para mis app</h3>
      <nav>
        <a href="{{ url_for('login_crypto') }}"> Ir a Login Crypto </a>
        <a href="{{ url_for('login_future') }}"> Ir a Login Future </a>
        <a href="{{ url_for('login_live') }}"> Ir a login Live</a>
        <a href="{{ url_for('form') }}">Ir a Formulario</a>
      </nav>
    </header>
    <div>
      <p>En los menu de opciones pueden visualizar los diferentes componenes</p>
    </div>
  </body>
</html>
